# Variables de la Base de Datos
DB_PASSWORD=tu_password_super_seguro_aqui_123
DB_USER=postgres
DB_NAME=geektech_db

# Token de seguridad para el panel de administrador
# Genera uno largo y seguro, ej: un UUID
ADMIN_SECRET_TOKEN=tu_token_secreto_para_subir_archivos
